@media (max-width: 768px) {
    .toy-filter {
        flex-direction: column;
        align-items: center;
    }

    .pagination-container {
        width: 100%;
    }

    .home-page {
        top: 35%;
        font-size: 1rem;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
    }

    .map-container {
        height: 300px;
        width: 100%;
    }

    .location-btns {
        flex-direction: column;
        align-items: center;
    }
}
