.search {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    /* Remove margin-right here */
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
    position: relative;
    right: 35px;
  }

.filter-by {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  background: aliceblue;
  margin-block: 15px 15px;
  border-radius: 30px;
  font-weight: bolder;
  color: #646464;
}

.filter-by input {
  border: none;
  background-color: #ffffff;
  color: #646464;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  width: 6em;
  transition: all ease-in-out 0.5s;
}

.filter-by input:hover,
.filter-by input:focus {
  box-shadow: 0 0 1em #00000013;
}

#inStock {
  margin: -20px;
  border-radius: 30px;
}

#sortBy {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.727);
}

#labels {
  width: 12em;
}

#maxPrice {
  width: 5em;
}