.toy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: transparent;
    
    transition: all 0.5s ease;
}

/* Animations */
.toy-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.toy-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 150ms ease;
}

.toy-exit {
    opacity: 1;
}

.toy-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 150ms ease;
}