
.toy-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    width: 285px;
    height: 275px;
    transition: all 0.2s ease;
}

    .toy-card img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 4px;
        align-self: center;
    }
  
  .toy-card:hover {
    background: #f8f8f8cd;
    color: rgb(0, 0, 0);
    font-weight: 900;
    transition: all 0.2s ease;
  }
  
  .stock-label {
    position: absolute;
    font-weight: 900;
    top: 5px;
    right: 10px;
    animation: blink 1.5s ease infinite;
  }

    .stock-label.out {
        color: red;
    }

    .stock-label.in {
        color: green;
        animation: none;
    }

    @keyframes blink {
        0% {
        opacity: 0.2;
        }
        50% {
        opacity: 1;
        }
        100% {
        opacity: 0.2;
        }
    }

  .toy-labels span {
    display: inline-block;
    padding: 5px 10px;
    background: #eee;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 5px;
    font-weight: bold;
    margin-block-start: 3px;
    animation: slide-in 0.5s ease forwards;
}
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .toy-price {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
    
    animation: zoom-in 0.5s ease forwards;
  }
  
  @keyframes zoom-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .toy-preview-btns {
    align-self: center;
  }

    .toy-preview-btns button {
        border-radius: 4px;
        padding: 8px 10px;
        background: #eee;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .toy-preview-btns button:hover {
        background: #ddd;
    }
