.main-layout {
  margin: 0 auto;
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}

.main-layout {
  position: relative;
  transition: all 0.5s ease;
}

.main-layout main {
  position: relative;
  top: 55px;
  min-height: calc(100vh - 55px);
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}